[Desktop Entry]
Version=1.0
Name=Pico TC-08 <SN>
Comment=PicoLog TC-08 temperature logging Python app for Josiah Sinclair group use
Keywords=experiment;temperature; temp; TC-08; tc08; grafana
Exec="<PROJECT DIR>/Startup_bash" <SETTINGS FILE>
Type=Application
Icon="<PROJECT DIR>/icon.png"
Terminal=true
NoDisplay=false
